RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://crawfordgirlsbasketball.com.com/$1 [L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^crawfordgirlsbasketball.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.crawfordgirlsbasketball.com$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]

# this forces SSL connection
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://crawfordgirlsbasketball.com/$1 [L]


